/* Main style sheet for SimpleComGenerator */
* {
    box-sizing: border-box;
    margin: 0
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #9ccbfa;
    height: 100%;
}

.header {
    flex:display;
    flex-direction: row;
    background-color: white;
    align-items: center;
    
    position: sticky;
    top: 0;
    min-width: 100%;
    max-height: 50px;;
}

h1 {
    text-align: center;
}
#main-container {
    display: flex;
    flex-direction: column;
    columns:1;
    min-height: 100vh; /* Ensure the main container takes up at least 100% of the viewport height */
}

#button-container {
    width: 90%;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

#comment-box{
    width: 90%;
    height: 200px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 4px;
    align-self: center;
    background-color: #fff;
}

.footer {
    background-color: #f8f9fa;
    padding: 10px;
    margin-top:5px;
    margin-bottom:0;
    border-top: 1px solid #dee2e6;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}